<h2>List of All Orders</h2>


<table>
  <tr>
    <td>Order ID</td>
    <td>Name</td>
    <td>Valid?</td>
  </tr>
</table>

<div class="orders-list" ng-repeat="ord in allOrderz">

<table>
  <tr>
    <td>{{ ord['order_id'] }}</td>
    <td>{{ ord['name'] }}</td>
    <td>{{ ord['valid'] }}</td>
  </tr>
</table>
  {{ ord }} <br>



</div>