<h2>All Orders</h2>

<button ng-click="save()"> Dave to Database </button>
{
"results": [
  <div class="orders-list" ng-repeat="ord in allOrderz">
    <!-- <a ui-sref="/orders/{{ord['order_id']}}"> -->
    <a ui-sref="orders.order({ orderID: {{ ord['order_id'] }} })">
    {
      "order_id": {{ ord['order_id'] | json }} ,
      "name": {{ ord['name'] | json }} ,
      "valid": {{ ord['valid'] | json }}
    },
    </a><br>
  </div>
 ] <br>
}


{{idForURL}}