<h2>All Orders</h2>

results (JSON):
<div class="orders-list" ng-repeat="ord in allOrderz">
    {
      "order_id": {{ ord['order_id'] | json }} ,
      "name": {{ ord['name'] | json }} ,
      "valid": {{ ord['valid'] | json }}
    }
    <br>
</div>