<h2>List of All Orders</h2>

<div class="orders-list" ng-repeat="ord in allOrderz">

    {{ ord['order_id'] | json }}<br>
    {{ ord['name'] | json }}<br>
    {{ ord['valid'] | json }}<br>


<!-- {{ord[0] | json }} -->

</div>