<h2>All Orders</h2>

{
"results": [
  <div class="orders-list" ng-repeat="ord in allOrderz">
    <!-- <a ui-sref="/orders/{{ord['order_id']}}"> -->
    <a ui-sref="orders.order({ id: {{ ord['order_id'] }}, tester: {{ ord['order_id'] }} })">
    {
      "order_id": {{ ord['order_id'] | json }} ,
      "name": {{ ord['name'] | json }} ,
      "valid": {{ ord['valid'] | json }}
    },
    </a><br>
  </div>
 ] <br>
}

{{idForURL}}