<div class="import-page" ng-init="">

<h2>Import Your CSV</h2>

<p> JSON it, baby </p>

  <form id="csvForm">
      <input type="file" file-reader="fileContent" />
      <input type="submit" value="Import My Orders" ng-click="trigger(fileContent)">
  </form>

  <div>{{fileContent}}</div>

</div>

