<h2>Import Your CSV file here</h2>

<p> JSON it, baby </p>

  <form id="csvForm">
    <label> Please paste the URL to your file here: </label>
      <input type="file" file-reader="fileContent" />
  </form>


    <div>{{fileContent}}</div>

</div>
