<h2>Import Your CSV file here</h2>

<p> JSON it, baby </p>

  <form id="csvForm">
    <label> Fetch your .csv file of orders</label>
      <input type="file" file-reader="fileContent" />
      <input type="submit" value="convert" ng-click="trigger(fileContent)">
  </form>

    <div>{{fileContent}}</div>


</div>
</div>
