<h2>Your Rejected Orders</h2>

{
"results": [
  <div ng-repeat="invalid in invalidOrderz">
    <a ui-sref="orders.order({ orderID: {{ ord['order_id'] }} })">
    {
      "order_id": {{ invalid['order_id'] | json }} ,
      "name": {{ invalid['name'] | json }} ,
      "valid": {{ invalid['valid'] | json }}
    },
    </a><br>
  </div>
 ] <br>
}