<div class="container" ng-controller="HomeCtrl">
    <div class="row">
    <div class="col-sm-3 dashboard-navigation">
    </div>

    <div class="col-sm-9">
        <div class="dashboard-view-container">
            <div class="dashboard-ui-view" ui-view></div>
        </div>
    </div>
    </div>
</div>



