Hellooooo there


<div class="order-list" ng-repeat="order in allOrderz" ng-show="order['order_id']">
  {{ order }}


<!-- {{ ord['order_id'] }} -->
</div>

<!-- {{allOrderz[idForURL]}} -->
id is:

{{tester}}
{{ ord['order_id']  }}
{{idForURL}}

wow

{{Validations.state}}