
<h2> Order Detail </h2>
                    <em>Sam: "I wanted to add ng-show="order['order_id' == loc ]" to the below div to filter the relevant order inside ng-repeat, but I could not capture $stateParams correctly" </em>
                    <!-- wanted to add ng-show="order['order_id' == loc ]" to the below div but could not capture $stateParams correctly-->
<div class="order" ng-repeat="order in allOrderz">

      { <br>
      "order_id": {{ order['order_id'] | json }} , <br>
      "name": {{ order['name'] | json }} , <br>
      "email": {{ order['email'] | json }} , <br>
      "state": {{ order['state'] | json }} , <br>
      "birthday": {{ order['birthday'] | json }} , <br>
      "zipcode": {{ order['zipcode'] | json }} , <br>
      "valid": {{ order['valid'] | json }} <br>
    },

</div>


{{ loc }}
