<div class="saved">
  <h2>Your orders have been saved to the server! </h2>

  <p>
    Return to <br>
    <li><a ui-sref="all">Your Orders</a></li>
    <li><a ui-sref="import" ui-sref-opts="{reload: true}">Import More Orders</a></li>
  </p>

</div>