<h2>Your Valid Orders</h2>

{
"results": [
  <div ng-repeat="val in validOrderz">
    <a ui-sref="orders.order({ orderID: {{ ord['order_id'] }} })">
    {
      "order_id": {{ val['order_id'] | json }} ,
      "name": {{ val['name'] | json }} ,
      "valid": {{ val['valid'] | json }}
    },
    </a><br>
  </div>
 ] <br>
}