<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">Order Verification Service</a>
    </div>

    <ul class="nav navbar-nav">
      <li><a ui-sref="home">Home</a></li>
      <li><a ui-sref="orders.import">Import CSV Orders</a></li>
      <li><a ui-sref="orders.all">All Orders (JSON)</a></li>
      <li><a ui-sref="orders.valid">Valid Orders (JSON)</a></li>

    </ul>

  </div>
</nav>