

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';



nav {
  ul li {
    display: inline;
  }
}


html {
  background-color: #e5ffec
}

body {
  border: 3px solid #b3ffb3;
  border-radius: 5px;
  background-color: #ecffe5;
  padding: 2%;
  margin: 2%
}

button.saved-orders {
  margin-left: 65%;
  background-color: #ccffcc;
  border-radius: 5px
}

.criteria-title {
  font-size: 15px;
  margin-top: 2%;
  margin-left: 3%
}

.criteria-list {
  margin: 3%
}

.import-page {
  form {
    .import {
      margin-top: 5px;
      background-color: #ccffcc;
      border-radius: 5px
    }
  }
}

.order {
  width: 65%
}
