
<html>
<head>
  <base href="/">
  <title>AcmeWine</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- <script type="text/javascript" src="lib/assets/bower_components/jquery-csv/jquery.csv-0.71.min.js"></script> -->
</head>
<body ng-app="myApp">

<%= yield %>

</body>
</html>
